body{
background:#050505;
color:white;
font-family:monospace;
margin:0;
padding:0;
}

header{
text-align:center;
padding:40px;
border-bottom:1px solid #222;
}

.titulo{
font-size:50px;
margin:0;
}

.subtitulo{
color:#888;
font-size:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:25px;
}

.card{
background:#111;
border:1px solid #333;
transition:0.2s;
overflow:hidden;
}

.card:hover{
transform:scale(1.03);
border-color:white;
}

.card a{
text-decoration:none;
color:white;
}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

.card h2{
text-align:center;
padding:15px;
font-size:28px;
}

.container{
width:90%;
margin:auto;
padding:20px;
}

.volver-btn{
display:inline-block;
background:#111;
color:white;
padding:15px 30px;
font-size:24px;
border:1px solid #444;
margin-bottom:30px;
text-decoration:none;
}

.volver-btn:hover{
border-color:white;
}

.imagen{
width:100%;
max-width:700px;
display:block;
margin:auto;
border:1px solid #333;
}

.scp-nombre{
text-align:center;
font-size:50px;
margin-top:25px;
}

.categoria{
text-align:center;
font-size:30px;
color:#aaaaaa;
margin-bottom:30px;
}

.doc{
background:#111;
border:1px solid #333;
padding:25px;
margin-top:20px;
}

pre{
white-space:pre-wrap;
font-size:18px;
line-height:1.7;
}